
/* Navbar */


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  /* margin-top: -1px; */
}

.navbar-brand img {
  max-height: 40px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}
/* Navbar */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
    .jumbotron {
      background-image: url('https://via.placeholder.com/1600x600'); /* Replace with your own image */
      background-size: cover;
      color: #000;
      text-align: center;
      padding: 250px 0;
      background-position: center;
      margin-bottom: 0;
      font-size: 100px;
      text-shadow: #343a40;
    }
.fdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-weight: bolder;

}

    .feature {
      text-align: center;
    }

    .footer {
      background-color: #343a40;
      color: #ffffff;
      padding: 20px 0;
      text-align: center;
    }

    .client-card {
      margin-bottom: 20px;
    }

    .client-photo {
      width: 80px; /* Adjust the width of the client photo */
      height: 80px; /* Adjust the height of the client photo */
      border-radius: 50%; /* Make the photo circular */
    }

    /* Footer */
    .footer-list li {
      position: relative;
      transition: all 0.3s ease;
      cursor: pointer;
  }
  .footer-list li:hover {
      color: #ffc107; /* Change to your desired hover color */
      animation: shake 0.5s;
  }
  .footer-list li::before {
      content: "";
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
      display: none;
  }
  .footer-list li:hover::before {
      display: block;
  }
  .footer-list li ul {
      margin-top: 5px;
      list-style: none;
      padding-left: 20px;
      display: none;
  }
  .footer-list li:hover ul {
      display: block;
  }
  .footer-list li ul li {
      border-left: 1px dotted #fff;
      padding-left: 10px;
  }
  @keyframes shake {
      0% { transform: translateX(0); }
      25% { transform: translateX(-5px); }
      50% { transform: translateX(5px); }
      75% { transform: translateX(-5px); }
      100% { transform: translateX(0); }
  }
    /* Footer */
