<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="document.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row text-center my-4">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">NOC</h1>
                </div>
              </div>
            </div>
          </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <!-- Card for Class 1 -->
            <div class="col">
                <div class="card">
                    <img src="class1_result.jpg" class="card-img-top card-img-preview" alt="Class 1 Result">
                    <div class="card-img-overlay">
                        <h5 class="card-title">NOC</h5>
                        <p class="show-more">Show More</p>
                    </div>
                    <div class="pdf-container" id="pdfContainer1">
                        <!-- PDF viewer for Class 1 -->
                        <embed src="/assets/noc_bjhow.pdf" class="pdf-viewer" type="application/pdf">
                        <button class="back-button">Go Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="document.js"></script>
</body>
</html>
