<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/About_us/aboutus.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/About_us/Assets/slider_73.jpg" class="d-block w-100" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img src="/About_us/Assets/slider_74.jpg" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img src="/About_us/Assets/slider_73.jpg" class="d-block w-100" alt="Slide 3">
          </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">CONGREGATION OF HOLY FAMILY</h2>
                <p class="card-text">The congregation was founded on 14th May 1914 by blessed Mariam Thresia the prophetess of Family. She witnessed familial love and communion in her personal life and tried to make the families of the world holy after the model of Holy Family of Nazarath. Sisters of the Congregation of Holy Family are dedicated to strive for the wholeness and holiness in families through schools, hospitals and colleges of higher learning, in the special education and rehabilitation of the deaf and dumb, in care of the aged and dying, disabled and orphaned, in youth organizations, in urban slums and remote tribal villages and in movements for civil rights and communal amity. You being a member of this institution makes you a part of this Holy Family , to be the part of the growth process in which we all travel together inspired by blessed Mariam Thresia the foundress.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="a-tag">
        <a href="path_to_cbse_affiliation_certificate" class="btn btn-primary mt-5 mb-5">CBSE Affiliation Certificate</a>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>