<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/About_us/aboutus.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/About_us/Assets/foundress.jpg" class="d-block w-100" alt="Slide 1">
          </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">FOUNDRESS-BLESSED MARIAM THRESIA</h2>
                <p class="card-text">Blessed Mariam Thresia, the Foundress of the Congregation of Holy Family was born on 26th April 1876 at Puthenchira Thrisur Dt Kerala State as the third child of Chiramal Mankudian Thoma and Thanda. Having been enflamed by the compassionate love of the Crucified Christ she became a guiding light for thousands of people. The heroic Virgin of Kerala, in deep communion with the divine and compassion for her fellow people , offered her life for serving families,which are the basic unit of the society . Thus she became the prophetess of families. The Congregation of Holy Family was founded on 14th May 1914 . She breathed her last on 8th June 1926. On 9th April 2000 Pope John Paul declared Mother Mariam Thresia Blessed.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="a-tag">
        <a href="path_to_cbse_affiliation_certificate" class="btn btn-primary mt-5 mb-5">CBSE Affiliation Certificate</a>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>