<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/About_us/aboutus.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/About_us/Assets/principal79.jpg" class="d-block w-100" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img src="/About_us/Assets/pronci2.jpg" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img src="/About_us/Assets/pronci3.jpg" class="d-block w-100" alt="Slide 3">
          </div>
          <div class="carousel-item">
            <img src="/About_us/Assets/pronci2.jpg" class="d-block w-100" alt="Slide 3">
          </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">PRINCIPAL'S MESSAGE</h2>
                <p class="card-text">Dear Holy Familians,<br><br>

                    In the vast galaxy of universe we have our small planet earth. An earth where in we live love and multiply.The whole earth is the manifestation of God's love.God with his right hand created earth,man and all living beings.He instilled "Love" a divine quality in the hearts of mankind to enjoy his beautiful life on earth.However today the world is becoming more harrowing and harsh. We bemoan of our children being abused,women molested,men turning to terrorists taking millions of innocent blood.Fanaticism,Racism, Slavery is dominating the world. Our earth is moving haphazardly into total destruction.Even though we have so much technological innovations and scientific break throughs we are not loving but killing our brethren.Why this turmoil? what is happening to the earth ? Though we send rockets to space though we conquer the universe though we have become more "civilized" we have forgotten the most impotent virtue.<br><br>
                    
                    The highest fruit of education is tolerance and tolerance - Love. My dear children,dearest Holy Familians, I implore you to be the harbingers of love and life. Lets love one another as God loves us unconditionally and forever This is the only panacea to this distressing and devastating present scenario.For love fears none but heals all.All of us wants love,care and appreciation. When we are nourished with this magical recipe we get metamorphosed into Superman and Superwomen to be the lamplighters of a new frontier.When God gifts you another new year,he wants you to join in the celebration of life and life is love in abundance. With new hopes,aspirations and dreams, here we begin a new dawn in life's journal.May the almighty bless you to love and server better.May the Divine love enlighten and guide you . May the Holy Family bless everyone in abundance.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="a-tag">
        <a href="path_to_cbse_affiliation_certificate" class="btn btn-primary mt-5 mb-5">CBSE Affiliation Certificate</a>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>