<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/About_us/aboutus.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/About_us/Assets/School_Moto_168.jpg" class="d-block w-100" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img src="/About_us/Assets/school.jpg" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img src="/About_us/Assets/School_Moto_168.jpg" class="d-block w-100" alt="Slide 3">
          </div>
        </div>
      </div>

      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">SCHOOL MOTO "LOVE & SERVE "</h2>
                <p class="card-text">The school promotes the Gospel value,Love and serve. A Holy Familian receiving the Divine love which is the power that holds up together must be a source of love and service to humanity. May our patrons Jesus Mary and Joseph - the Holy Family bless everyone who crosses the portals of this institution.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a href="path_to_cbse_affiliation_certificate" class="btn btn-primary mt-5 mb-5">CBSE Affiliation Certificate</a>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>