<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Academic/academic.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/About_us/Assets/slider_73.jpg" class="d-block w-100" alt="Slide 1">
          </div>
          <div class="carousel-item">
            <img src="/About_us/Assets/slider_74.jpg" class="d-block w-100" alt="Slide 2">
          </div>
          <div class="carousel-item">
            <img src="/About_us/Assets/slider_73.jpg" class="d-block w-100" alt="Slide 3">
          </div>
        </div>
      </div>

      <div class="container mt-5 gap-4">
        <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body text-center">
                  <h1 class="card-title">WELL EQUIPED LAB</h1>
                </div>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <p class="card-text">Physics, Chemistry, Biology, Mathematics and Computer laboratories are well equipped and thought fully designed with modern and scientific instruments and tools. All labs are situated in separate hall . Under the able guidance of trained instructors students get ample scope to explore scientific and analytical skills.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Computer Lab:-</h2>
                  <p class="card-text">Computer education is mandatory for every student up to tenth standard . We too provide practical experience in operating computer and providing exposure. A computer lab with more than 40 personal computers is available with latest soft ware technology.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h2 class="card-title">Smart class:-</h2>
                  <p class="card-text">Facility of the smart class also is available for the students. Here with the help of subject experts students get to learn more about the subject by watching a series of educational programs.                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="a-tag">
        <a href="path_to_cbse_affiliation_certificate" class="btn btn-primary mt-5 mb-5">CBSE Affiliation Certificate</a>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>